#contentLeft{
    float: left;
    width:50%;
    margin-top:10px;
    height:690px;
}
#contentRight{
    float: left;
    width:50%;
    margin-top:10px;
    height:690px;
}
fieldset{
    margin-top:1%;
    margin-left:5%;
    width:90%;
    padding: 40px 20px  0 0;
    background-color: #F0F0F0;
    border: 1px dotted #131321;
}
legend{
    padding: 0;
    margin: 0;
    color: #131321;
}
legend strong {
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 1.2em;
}
.text{
    width:300px;
}
#fieldsetForm p{
    line-height:1.5;
    margin: 0 0 20px 50px;
    color: #193742;
}
#serviceDisplay p{
    color: #000;
}
label{
    width: 100px;
    float: left;
    clear: left;
    margin-right: .75em;
}







